challenge_1_staking/packages/subgraph/subgraph.yaml
challenge_1_staking/packages/subgraph/generated
challenge_1_staking/packages/subgraph/abis/*
challenge_1_staking/packages/hardhat/*.txt
challenge_1_staking/**/aws.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
challenge_1_staking/**/node_modules

challenge_1_staking/packages/hardhat/artifacts*
challenge_1_staking/packages/hardhat/deployments
challenge_1_staking/packages/react-app/src/contracts/*
challenge_1_staking/!packages/react-app/src/contracts/external_contracts.js
challenge_1_staking/packages/hardhat/cache*
challenge_1_staking/packages/**/data
challenge_1_staking/!packages/react-app/src/contracts/contracts.js


# ts
challenge_1_staking/packages/hardhat-ts/cache
# secrets
challenge_1_staking/.secret

challenge_1_staking/packages/subgraph/config/config.json
challenge_1_staking/tenderly.yaml

# dependencies
challenge_1_staking/node_modules
challenge_1_staking/.pnp
challenge_1_staking/.pnp.js

# testing
challenge_1_staking/coverage

challenge_1_staking/# production
challenge_1_staking/build
# yarn / eslint
challenge_1_staking/.yarn/cache
challenge_1_staking/.yarn/install-state.gz
challenge_1_staking/.yarn/build-state.yml
challenge_1_staking/.eslintcache
# testing
challenge_1_staking/coverage

# production
challenge_1_staking/build

#Hardhat files
challenge_1_staking/cache
challenge_1_staking/artifacts

# misc
challenge_1_staking/.DS_Store
challenge_1_staking/.env*

# debug
challenge_1_staking/npm-debug.log*
challenge_1_staking/yarn-debug.log*
challenge_1_staking/yarn-error.log*

challenge_1_staking/.idea

# Local Netlify folder
challenge_1_staking/.netlify
challenge_1_staking/*.tsbuildinfo
challenge_1_staking/*.stackdump

challenge_1_staking/packages/hardhat/mnemonic.txt

challenge_2_vendor/packages/subgraph/subgraph.yaml
challenge_2_vendor/packages/subgraph/generated
challenge_2_vendor/packages/subgraph/abis/*
challenge_2_vendor/packages/hardhat/*.txt
challenge_2_vendor/**/aws.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
challenge_2_vendor/**/node_modules

challenge_2_vendor/packages/hardhat/artifacts*
challenge_2_vendor/packages/hardhat/deployments
challenge_2_vendor/packages/react-app/src/contracts/*
challenge_2_vendor/!packages/react-app/src/contracts/external_contracts.js
challenge_2_vendor/packages/hardhat/cache*
challenge_2_vendor/packages/**/data
challenge_2_vendor/!packages/react-app/src/contracts/contracts.js


# ts
challenge_2_vendor/packages/hardhat-ts/cache
# secrets
challenge_2_vendor/.secret

challenge_2_vendor/packages/subgraph/config/config.json
challenge_2_vendor/tenderly.yaml

# dependencies
challenge_2_vendor/node_modules
challenge_2_vendor/.pnp
challenge_2_vendor/.pnp.js

# testing
challenge_2_vendor/coverage

# production
challenge_2_vendor/build
# yarn / eslint
challenge_2_vendor/.yarn/cache
challenge_2_vendor/.yarn/install-state.gz
challenge_2_vendor/.yarn/build-state.yml
challenge_2_vendor/.eslintcache
# testing
challenge_2_vendor/coverage

# production
challenge_2_vendor/build

#Hardhat files
challenge_2_vendor/cache
challenge_2_vendor/artifacts

# misc
challenge_2_vendor/.DS_Store
challenge_2_vendor/.env*

# debug
challenge_2_vendor/npm-debug.log*
challenge_2_vendor/yarn-debug.log*
challenge_2_vendor/yarn-error.log*

challenge_2_vendor/.idea

# Local Netlify folder
challenge_2_vendor/.netlify
challenge_2_vendor/*.tsbuildinfo
challenge_2_vendor/*.stackdump

challenge_2_vendor/packages/hardhat/mnemonic.txt

challenge_3_dicegame/packages/subgraph/subgraph.yaml
challenge_3_dicegame/packages/subgraph/generated
challenge_3_dicegame/packages/subgraph/abis/*
challenge_3_dicegame/packages/hardhat/*.txt
challenge_3_dicegame/**/aws.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
challenge_3_dicegame/**/node_modules

challenge_3_dicegame/packages/hardhat/artifacts*
challenge_3_dicegame/packages/hardhat/deployments
challenge_3_dicegame/packages/react-app/src/contracts/*
challenge_3_dicegame/!packages/react-app/src/contracts/external_contracts.js
challenge_3_dicegame/packages/hardhat/cache*
challenge_3_dicegame/packages/**/data
challenge_3_dicegame/!packages/react-app/src/contracts/contracts.js


# ts
challenge_3_dicegame/packages/hardhat-ts/cache
# secrets
challenge_3_dicegame/.secret

challenge_3_dicegame/packages/subgraph/config/config.json
challenge_3_dicegame/tenderly.yaml

# dependencies
challenge_3_dicegame/node_modules
challenge_3_dicegame/.pnp
challenge_3_dicegame/.pnp.js

# testing
challenge_3_dicegame/coverage

# production
challenge_3_dicegame/build
# yarn / eslint
challenge_3_dicegame/.yarn/cache
challenge_3_dicegame/.yarn/install-state.gz
challenge_3_dicegame/.yarn/build-state.yml
challenge_3_dicegame/.eslintcache
# testing
challenge_3_dicegame/coverage

# production
challenge_3_dicegame/build

# Hardhat files
challenge_3_dicegame/cache
challenge_3_dicegame/artifacts

# misc
challenge_3_dicegame/.DS_Store
challenge_3_dicegame/.env*

# debug
challenge_3_dicegame/npm-debug.log*
challenge_3_dicegame/yarn-debug.log*
challenge_3_dicegame/yarn-error.log*

challenge_3_dicegame/.idea

# Local Netlify folder
challenge_3_dicegame/.netlify
challenge_3_dicegame/*.tsbuildinfo
challenge_3_dicegame/*.stackdump

# doc directory
challenge_3_dicegame/doc

challenge_3_dicegame/packages/hardhat/mnemonic.txt

challenge_4_dex/packages/subgraph/subgraph.yaml
challenge_4_dex/packages/subgraph/generated
challenge_4_dex/packages/subgraph/abis/*
challenge_4_dex/packages/hardhat/*.txt
challenge_4_dex/**/aws.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
challenge_4_dex/**/node_modules

challenge_4_dex/packages/hardhat/artifacts*
challenge_4_dex/packages/hardhat/deployments
challenge_4_dex/packages/react-app/src/contracts/*
challenge_4_dex/!packages/react-app/src/contracts/external_contracts.js
challenge_4_dex/packages/hardhat/cache*
challenge_4_dex/packages/**/data
challenge_4_dex/!packages/react-app/src/contracts/contracts.js


# ts
challenge_4_dex/packages/hardhat-ts/cache
# secrets
challenge_4_dex/.secret

challenge_4_dex/packages/subgraph/config/config.json
challenge_4_dex/tenderly.yaml

# dependencies
challenge_4_dex/node_modules
challenge_4_dex/.pnp
challenge_4_dex/.pnp.js

# testing
challenge_4_dex/coverage

# production
challenge_4_dex/build
# yarn / eslint
challenge_4_dex/.yarn/cache
challenge_4_dex/.yarn/install-state.gz
challenge_4_dex/.yarn/build-state.yml
challenge_4_dex/.eslintcache
# testing
challenge_4_dex/coverage

# production
challenge_4_dex/build

# Hardhat files
challenge_4_dex/cache
challenge_4_dex/artifacts

# misc
challenge_4_dex/.DS_Store
challenge_4_dex/.env*

# debug
challenge_4_dex/npm-debug.log*
challenge_4_dex/yarn-debug.log*
challenge_4_dex/yarn-error.log*

challenge_4_dex/.idea

# Local Netlify folder
challenge_4_dex/.netlify
challenge_4_dex/*.tsbuildinfo
challenge_4_dex/*.stackdump

# doc directory
challenge_4_dex/doc

challenge_4_dex/packages/hardhat/mnemonic.txt

challenge_5_multisig/**/*.key
challenge_5_multisig/**/*.cert
challenge_5_multisig/packages/subgraph/subgraph.yaml
challenge_5_multisig/packages/subgraph/generated
challenge_5_multisig/packages/subgraph/abis
challenge_5_multisig/packages/hardhat/*.txt
challenge_5_multisig/**/aws.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
challenge_5_multisig/**/node_modules
challenge_5_multisig/packages/hardhat/artifacts
challenge_5_multisig/packages/hardhat/deployments
challenge_5_multisig/packages/react-app/src/contracts/*
challenge_5_multisig/!packages/react-app/src/contracts/contracts.js
challenge_5_multisig/packages/hardhat/cache

challenge_5_multisig/docker/**/data

challenge_5_multisig/packages/subgraph/config/config.json
challenge_5_multisig/tenderly.yaml

# dependencies
challenge_5_multisig/node_modules
challenge_5_multisig/.pnp
challenge_5_multisig/.pnp.js

# testing
challenge_5_multisig/coverage

# production
challenge_5_multisig/build

# misc
challenge_5_multisig/.DS_Store
challenge_5_multisig/.env*

# debug
challenge_5_multisig/npm-debug.log*
challenge_5_multisig/yarn-debug.log*
challenge_5_multisig/yarn-error.log*

challenge_5_multisig/.idea

challenge_5_multisig/packages/hardhat/mnemonic.txt